header {
  background-color: #d9e4d5;
}
.header_elements {
  display: flex;
  max-width: 1400px;
  min-height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: #183529;
  font-family: "Value", sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

.header_element_nav {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
}
.header_element_map {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 200px;
  transform: translateY(20px);
}
.header_element_map select {
  border: 0px;
  background-color: #d9e4d5;
}
.header_elements nav {
  max-width: 500px;
  width: 100%;
  transform: translateY(20px);
}
.section-1 {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  margin-top: 50px;
}
.section-1_content {
  max-width: 600px;
  width: 100%;
  color: #183529;
  font-family: "Value", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
}
.section-1_image_plantation {
  border-radius: 20px;
}
.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  background-color: #d9e4d5;
  color: #183529;
  font-family: "Value", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
}
.section-2_title {
  display: flex;
  margin: auto;
  padding-top: 20px;
}
.section-2_content {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding-left: 0px;
  margin-top: 20px;
  list-style: none;
}
.section-2_content li:hover {
  color: #14f25d;
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}
