header {
  background-color: #d9e4d5;
}
.header_elements {
  display: flex;
  max-width: 1400px;
  min-height: 80px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: #183529;
  font-family: "Value", sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

.header_element_nav {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  list-style-type: none;
  padding-left: 0px;
}
.header_element_map {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 200px;
  transform: translateY(20px);
}
.header_element_map select {
  border: 0px;
  background-color: #d9e4d5;
}
.header_elements nav {
  max-width: 500px;
  width: 100%;
  transform: translateY(20px);
}






/* Gustavs code*/



section {
  background-color: #ffffff;
  height: 800px;
  width: 100%;
  box-sizing: border-box;
}




footer {
  background-color: #d9e4d5;
  height: 600px;
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
}

.footer-elements {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.footer-elements-img {
  background-image: url("../images/Womandrinking.png");
  background-color: #14f25d;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 100%;
}

.footer-elements-info {
  width: 390px;
}

.footer-elements-info p {
  font-family: 'Roboto Mono', monospace;
  line-height: 1.2;
  font-weight: 700;
  font-size: 20px;
  color: #648357;
}

.footer-elements-info button {
  background-color: #14f25d;
  color: #ffffff;
}
